.header-nav {
  background-color: $black;
  padding: 11px 0 9px;
}

.header-nav__list {
  @include reset-list;

  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 0 15px;
}

.header-nav__link {
  color: $light-grey;
  display: block;
  transition: color 0.4s ease-out 0.1s;
}

.header-nav__link:hover,
.header-nav__link:focus {
  color: $orange;
}

.header-nav__link:active {
  opacity: 0.7;
}

.header-nav__item {
  padding: 0 23px;

  &--catalog,
  &--about {
    display: flex;
    align-items: center;
  }

  &--catalog {
    padding-left: 0;
  }
}

.header-nav__item:not(:last-child) {
  border-right: 1px dotted $light-grey;
}

.header-nav__orange-triangle {
  flex-shrink: 0;
  margin-left: 6px;
}

.header-nav__menu-button {
  display: none;
}

@media (max-width: 1169px) {
  .header-nav__list {
    display: none;
  }

  .header-nav__menu-button {
    @include reset-button;

    width: 30px;
    height: 16px;
    display: flex;
    align-items: center;
    left: 50.5%;
    transform: translateX(-50%);
    position: relative;
  }

  .header-nav__menu-button::after {
    content: "Меню";
    position: absolute;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: $white;
    top: 0;
    right: -44px;
  }

  .header-nav__menu-button span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: $orange;
    position: relative;
  }

  .header-nav__menu-button span::before,
  .header-nav__menu-button span::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color: $orange;
    left: 0;
    transition: top 0.3s 0.3s, transform 0.3s;
    transform-origin: 50% 50%;
    transform: none;
  }

  .header-nav__menu-button span::before {
    top: -6px;
  }

  .header-nav__menu-button span::after {
    top: 6px;
  }

  .header-nav {
    padding-bottom: 13px;
  }
}

@media (max-width: 969px) {
  .header-nav__menu-button {
    left: 46.5%;
  }
}

@media (max-width: 749px) {
  .header-nav__menu-button {
    left: 42.5%;
  }
}
