$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$white: #ffffff;
$black: #040d0d;
$light-grey: #bcc3c5;
$aqua-blue: #5c7489;
$dark-aqua-blue: #2c3f53;
$blue: #4673ab;
$dark-grey: #363c3e;
$orange: #ff5816;
$light-orange: #ff743d;
$very-pale-grey: #eff0f4;
$charcoal: #7f8485;
$pale-grey: #dbdee6;
$light-charcoal: #e3e5eb;
$light-green: #42c16c;
$green: #16a333;
$yellow: #f7c159;
$light-blue: #499ad9;
$red: #cb0b13;
$navy: #394a5c;
$purple: #423c7a;
$light-blue: #2b89d4;
$dark-navy: #335278;
$dark-green: #337500;
