.page-header__container {
  padding: 9px 15px 23px;
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.page-header__left-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.page-header__region {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 17px;
}

.page-header__region-slogan {
  margin-right: 3px;
}

.page-header__open-region-modal {
  @include reset-button;

  color: $blue;
  font-size: 13px;
  line-height: 20px;
  text-decoration: underline;
  text-decoration-style: dotted;
  transition: all 0.4s ease-out 0.1s;
}

.page-header__open-region-modal:hover,
.page-header__open-region-modal:focus {
  color: $navy;
}

.page-header__open-region-modal:active {
  opacity: 0.7;
}

.page-header__logo-link {
  display: block;
}

.page-header__logo-image {
  display: block;
  width: 196px;
  height: 46px;
}

.page-header__logo-slogan {
  font-weight: 300;
  font-size: 10px;
  color: #818588;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  letter-spacing: 0.5px;
}

.page-header {
  margin-bottom: 20px;
}

.page-header__left-container {
  display: flex;
  max-width: 582px;
  width: 100%;
  justify-content: space-between;
}

.page-header__right-container {
  width: 100%;
  max-width: 489px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1169px) {
  .page-header__right-container {
    width: 240px;
    align-items: center;
  }

  .page-header__left-container {
    max-width: 643px;
  }

  .page-header__container {
    padding-bottom: 7px;
  }

  .page-header__region {
    margin-bottom: 23px;
  }

  .page-header {
    @keyframes slideInLeft {
      from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
      }

      to {
        transform: translate3d(0, 0, 0);
      }
    }

    &--menu-opened {
      .header-nav__menu-button span {
        background-color: transparent;
      }

      .header-nav__menu-button span::before {
        transform: rotate(-45deg);
      }

      .header-nav__menu-button span::after {
        transform: rotate(45deg);
      }

      .header-nav__menu-button span::before,
      .header-nav__menu-button span::after {
        top: 0;
        transition: top 0.3s, transform 0.3s 0.3s;
      }

      .header-nav {
        position: relative;
      }

      .header-nav__list {
        position: absolute;
        left: 0;
        top: 40px;
        display: flex;
        flex-direction: column;
        width: 140px;
        background-color: $black;
        z-index: 3;
        padding: 0;
        animation-name: slideInLeft;
        animation-duration: 0.3s;
      }

      .header-nav__item {
        padding: 0;
        border-bottom: 1px solid $white;
      }

      .header-nav__link {
        width: 100%;
        padding: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .header-nav__item:not(:last-child) {
        border-right: none;
      }
    }
  }
}

@media (max-width: 969px) {
  .page-header__left-container {
    width: 437px;
  }

  .page-header__region {
    margin-bottom: 17px;
  }
}

@media (max-width: 749px) {
  .page-header__logo-slogan {
    display: none;
  }

  .page-header__logo-image {
    width: 140px;
    height: 34px;
  }

  .page-header__right-container {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    width: auto;
  }

  .page-header__left-container {
    width: auto;
  }

  .page-header__container {
    padding-top: 10px;
    padding-bottom: 13px;
  }

  .page-header__region {
    margin-bottom: 15px;
  }

  .page-header {
    margin-bottom: 33px;
  }
}
